.arabic,
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td.arabic {
  font-family: 'Scheherazade', serif;
  line-height: 1.5em;
  font-size: 2.5em;
  padding: 0 8px;
}

.arabic-l {
  font-size: 3.5em;
}

.arabic-sm {
  font-size: 1.5em;
}

.v-data-table {
  margin-bottom: 20px;
}

.v-data-table.no-hover-highlight {
  .v-data-table__wrapper {
    table {
      tbody {
        tr:hover {
          background-color: transparent !important;
        }
      }
    }
  }
}